<div class="row medium-12 back-1 pad-vert center">
  <h3 class="font-white center">
    UtiliTrak
    <hr></hr>
  </h3>
  <h4 class="font-white center">
    Save Energy, Live Smart
  </h4>
  <p><a href="/users/sign_in" class="button">Sign In</a></p>
  <p><a href="/users/sign_up" class="button">Sign Up</a></p>
</div>
<div class="columns medium-12" style="background-color: #1c2224">
  <h3 class="center font-blue">How It Works</h3>
  <hr></hr>
  <div class="columns small-4">
    <div class="callout secondary" style="background-color: #777777">
      <p><img src="http://images.clipartpanda.com/copyright-free-clipart-home-clipart-black-and-whitehouse-56-clip-art---vector-clip-art-online-royalty-free-public-d2kub4it.png"></p>
      <p>Create a Household to store all your utility information</p>
    </div>
  </div>
  <div class="columns small-4">
    <div class="callout secondary" style="background-color: #777777">
      <p><img src="http://www.publicdomainpictures.net/pictures/40000/nahled/dollar-sign-black.jpg"></p>
      <p>Create bills by simply inputting a monthly bill amount</p>
    </div>
  </div>
  <div class="columns small-4">
    <div class="callout secondary" style="background-color: #777777">
      <p><img src="http://cliparts.co/cliparts/kiK/K46/kiKK46rij.png"></p>
      <p>See data analysis for energy consumption and trends</p>
    </div>
  </div>
</div>
