<div class="row medium-12 back-1 pad-vert center">
  <h3 class="font-white center">
    UtiliTrak
    <hr></hr>
  </h3>
  <h4 class="font-white center">
    Save Energy, Live Smart
  </h4>
  <p><a href="/users/sign_in" class="button">Sign In</a></p>
  <p><a href="/users/sign_up" class="button">Sign Up</a></p>
</div>
<div class="columns medium-12">
  <h3 class="center font-blue">How It Works</h3>
  <hr></hr>
  <div class="columns small-4">
    <div class="callout secondary">
      <p><%= image_tag "house.png"%></p>
      <p>Create a Household to store all your utility information</p>
    </div>
  </div>
  <div class="columns small-4">
    <div class="callout secondary">
      <%= image_tag "dollar.png"%>
      <p>Create bills by simply inputting a monthly bill amount</p>
    </div>
  </div>
  <div class="columns small-4">
    <div class="callout secondary">
      <p><%= image_tag "chart.png"%></p>
      <p>See data analysis for energy consumption and trends</p>
    </div>
  </div>
</div>
