// /*
//  * This is a manifest file that'll be compiled into application.css, which will include all the files
//  * listed below.
//  *
//  * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
//  * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
//  *
//  * You're free to add application-wide styles to this file and they'll appear at the bottom of the
//  * compiled file so the styles you add here take precedence over styles defined in any styles
//  * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
//  * file per style scope.
//  *
//  *= require_tree .
//  *= require_self
//
//  */
@import "colors";
@import url(https://fonts.googleapis.com/css?family=Mako);

a {
  color: $ll-gold;
}

p {
  display: inline;
}

.back-1 {
  background-image: image-url("city.jpg");
  background-size: cover;
  border-left: 0;
  border-right: 0;
  height: auto;
  margin-left: 0;
  margin-right: 0;
}

.font-white {
  color: $ll-gold;
  text-shadow: -1px 0 $dd-orange, 0 1px $dd-orange, 1px 0 $dd-orange, 0 -1px $dd-orange;
}

.pad-vert {
  border-left: 0;
  border-right: 0;
  height: auto;
  margin-left: 0;
  margin-right: 0;
  padding: 100px;
}

.font-blue {
  color: $blue;
}

.center {
  text-align: center;
}

.button {
  background-color: $l-gold;
  margin: 20px;
}

.house-list ul li {
  display: inline;
  padding-right: 10px;
}

.bill-list ul li {
  display: inline;
  padding-right: 10px;
}

body {
  background-color: $ll-blue;
}

img {
  height: 50px;
  width: 50px;
}
