$blue: #295062;
$l-blue: #496D89;
$ll-blue: #718EA4;
$d-blue: #123652;
$dd-blue: #042037;
$gold: #AA8739;
$l-gold: #D4B46A;
$ll-gold: #FFE5AA;
$d-gold: #805F15;
$dd-gold: #553B00;
$orange: #AA6639;
$l-orange: #D4956A;
$ll-orange: #FFE5AA;
$d-orange: #804015;
$dd-orange: #552200;
