$blue: #295062;
$l-blue: #496d89;
$ll-blue: #718ea4;
$d-blue: #123652;
$dd-blue: #042037;
$gold: #aa8739;
$l-gold: #d4b46A;
$ll-gold: #ffe5aa;
$d-gold: #805f15;
$dd-gold: #553b00;
$orange: #dd6639;
$l-orange: #d4956a;
$ll-orange: #ffe5aa;
$d-orange: #804015;
$dd-orange: #552200;
